import pandas as pd
import requests
from PIL import Image

# 1. NASA API

In [24]:
api_key = '5Ej2xxf7hSxVVUT7C0Vmpl7BaBT8FKrlOS7DnySG'

In [25]:
url = f'https://api.nasa.gov/planetary/apod?api_key={api_key}'

In [26]:
earth_url = f'https://api.nasa.gov/planetary/earth/imagery?lon=100.75&lat=1.5&date=2014-02-01&api_key={api_key}'

In [27]:
earth_url2 = f'https://api.nasa.gov/planetary/earth/assets?lon=-95.33&lat=29.78&date=2018-01-01&&dim=0.10&api_key={api_key}'

In [31]:
mars_url = f'https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&page=2&api_key={api_key}'

In [5]:
response = requests.get(url)
response

In [13]:
response2 = requests.get(earth_url)
response2

In [28]:
response3 = requests.get(earth_url2)
response3

In [6]:
data = response.json()

In [7]:
data

{'copyright': '\nRolando Ligustri &\n Lukas Demetz \n',
 'date': '2024-06-04',
 'explanation': "Why does Comet Pons-Brooks now have tails pointing in opposite directions?  The most spectacular tail is the blue-glowing ion tail that is visible flowing down the image.  The ion tail is pushed directly out from the Sun by the solar wind. On the upper right is the glowing central coma of Comet 12P/Pons–Brooks. Fanning out from the coma, mostly to the left, is the comet's dust tail. Pushed out and slowed down by the pressure of sunlight, the dust tail tends to trail the comet along its orbit and, from some viewing angles, can appear opposite to the ion tail.  The distant, bright star Alpha Leporis is seen at the bottom of the featured image captured last week from Namibia. Two days ago, the comet passed its closest to the Earth and is now best visible from southern skies as it dims and glides back to the outer Solar System.",
 'hdurl': 'https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_1601.jpg',
 'media_type': 'image',
 'service_version': 'v1',
 'title': 'Comet Pons-Brooks Develops Opposing Tails',
 'url': 'https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_960.jpg'}

In [8]:
print(f"Title: {data['title']}")
print(f"Date: {data['date']}")
print(f"Explanation: {data['explanation']}")
print(f"URL: {data['url']}")

Title: Comet Pons-Brooks Develops Opposing Tails
Date: 2024-06-04
Explanation: Why does Comet Pons-Brooks now have tails pointing in opposite directions?  The most spectacular tail is the blue-glowing ion tail that is visible flowing down the image.  The ion tail is pushed directly out from the Sun by the solar wind. On the upper right is the glowing central coma of Comet 12P/Pons–Brooks. Fanning out from the coma, mostly to the left, is the comet's dust tail. Pushed out and slowed down by the pressure of sunlight, the dust tail tends to trail the comet along its orbit and, from some viewing angles, can appear opposite to the ion tail.  The distant, bright star Alpha Leporis is seen at the bottom of the featured image captured last week from Namibia. Two days ago, the comet passed its closest to the Earth and is now best visible from southern skies as it dims and glides back to the outer Solar System.
URL: https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_960.jpg

In [29]:
data2 = response3.json()
data2

{'date': '2018-01-03T16:50:46.890000',
 'id': 'LANDSAT/LC08/C01/T1_SR/LC08_025039_20180103',
 'resource': {'dataset': 'LANDSAT/LC08/C01/T1_SR', 'planet': 'earth'},
 'service_version': 'v5000',
 'url': 'https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/thumbnails/78ef0163adc2d4981e96b6a47dbccd48-fc0c6a459f370bb89afaf13538c4a4dd:getPixels'}

In [30]:
print(f"Title: {data['title']}")
print(f"Date: {data['date']}")
print(f"Explanation: {data['explanation']}")
print(f"URL: {data['url']}")

Title: Comet Pons-Brooks Develops Opposing Tails
Date: 2024-06-04
Explanation: Why does Comet Pons-Brooks now have tails pointing in opposite directions?  The most spectacular tail is the blue-glowing ion tail that is visible flowing down the image.  The ion tail is pushed directly out from the Sun by the solar wind. On the upper right is the glowing central coma of Comet 12P/Pons–Brooks. Fanning out from the coma, mostly to the left, is the comet's dust tail. Pushed out and slowed down by the pressure of sunlight, the dust tail tends to trail the comet along its orbit and, from some viewing angles, can appear opposite to the ion tail.  The distant, bright star Alpha Leporis is seen at the bottom of the featured image captured last week from Namibia. Two days ago, the comet passed its closest to the Earth and is now best visible from southern skies as it dims and glides back to the outer Solar System.
URL: https://apod.nasa.gov/apod/image/2406/Comet12P_Ligustri_960.jpg

In [33]:
response4 = requests.get(mars_url)
response4

In [35]:
response4

In [39]:
data = response4.json()
data

{'photos': [{'id': 424926,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631200305217E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424927,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631190503679E04_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424928,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631190305216E04_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424929,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631180503678E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424930,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631180305215E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424931,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631170503677E03_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424932,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631170305214E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424933,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631160503676E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424934,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631160305213E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424935,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631150503675E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424936,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631150305212E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424937,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631140503674E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424938,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631140305211E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424939,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631130503673E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424940,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631130305210E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424941,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631120305209E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424942,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631120503672E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424943,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631110503671E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424944,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631110305208E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424945,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631100503670E02_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424946,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000ML0044631100305207E01_DXXX.jpg',
   'earth_date': '2015-05-30',
   'rover': {'id': 5,
    'name': 'Curiosity',
    'landing_date': '2012-08-06',
    'launch_date': '2011-11-26',
    'status': 'active',
    'max_sol': 4102,
    'max_date': '2024-02-19',
    'total_photos': 695670,
    'cameras': [{'name': 'FHAZ', 'full_name': 'Front Hazard Avoidance Camera'},
     {'name': 'NAVCAM', 'full_name': 'Navigation Camera'},
     {'name': 'MAST', 'full_name': 'Mast Camera'},
     {'name': 'CHEMCAM', 'full_name': 'Chemistry and Camera Complex'},
     {'name': 'MAHLI', 'full_name': 'Mars Hand Lens Imager'},
     {'name': 'MARDI', 'full_name': 'Mars Descent Imager'},
     {'name': 'RHAZ', 'full_name': 'Rear Hazard Avoidance Camera'}]}},
  {'id': 424947,
   'sol': 1000,
   'camera': {'id': 22,
    'name': 'MAST',
    'rover_id': 5,
    'full_name': 'Mast Camera'},
   'img_src': 'http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631090503669E02_DXXX.jpg',
   'earth_date': '2015-05-30',

In [40]:
first_photo_url = data['photos'][0]['img_src']

In [41]:
img_url = first_photo_url

In [42]:
img_response = requests.get(img_url)

In [43]:
if img_response.status_code == 200:
    with open('mars_photo.jpg', 'wb') as file:
        file.write(img_response.content)
    print("Image downloaded and saved as 'mars_photo.jpg'")
else:
    print("Failed to download image")

Image downloaded and saved as 'mars_photo.jpg'

In [46]:
image = Image.open('mars_photo.jpg')

In [47]:
image.show()

# 2. Weather API

In [227]:
import pandas as pd
import requests
import json
# from datetime import datetime 
import datetime

## 1) 위치 정보 가져오기

### 1-1) key 값 가져오기

In [228]:
geo_key = 'c4cb929c6768bf7eba452db51e1e3182'
weather_key = 'c0990b317a2da25752f6f7d46a42ff47'

In [229]:
city_name = 'Seoul'

### 1-2) url 세팅

In [230]:
geo_url = f'http://api.openweathermap.org/geo/1.0/direct?q={city_name}&limit=1&appid={geo_key}'
geo_url

'http://api.openweathermap.org/geo/1.0/direct?q=Seoul&limit=1&appid=c4cb929c6768bf7eba452db51e1e3182'

In [231]:
geo_response = requests.get(geo_url)
geo_response

###  1-3) 위치 정보 가져오기

In [232]:
geo_data = geo_response.json()
geo_data

[{'name': 'Seoul',
  'local_names': {'it': 'Seul',
   'ml': 'സോൾ',
   'tk': 'Seul',
   'mk': 'Сеул',
   'is': 'Seúl',
   'yi': 'סעאל',
   'oc': 'Seol',
   'tg': 'Сеул',
   'hi': 'सियोल',
   'tr': 'Seul',
   'ko': '서울',
   'af': 'Seoel',
   'ta': 'சியோல்',
   'pt': 'Seul',
   'ar': 'سول',
   'az': 'Seul',
   'an': 'Seúl',
   'bo': 'སེ་ཨུལ།',
   'sk': 'Soul',
   'hu': 'Szöul',
   'bh': 'सियोल',
   'ja': 'ソウル',
   'nl': 'Seoel',
   'cs': 'Soul',
   'uz': 'Seul',
   'ba': 'Сеул',
   'bs': 'Seul',
   'ka': 'სეული',
   'pl': 'Seul',
   'fi': 'Soul',
   'km': 'សេអ៊ូល',
   'hy': 'Սեուլ',
   'lv': 'Seula',
   'ky': 'Сеул',
   'hr': 'Seul',
   'th': 'โซล',
   'my': 'ဆိုးလ်မြို့',
   'am': 'ሶል',
   'vi': 'Seoul',
   'sv': 'Seoul',
   'qu': 'Siul',
   'kn': 'ಸೌಲ್',
   'mr': 'सोल',
   'be': 'Сеул',
   'et': 'Sŏul',
   'fa': 'سئول',
   'ur': 'سؤل',
   'os': 'Сеул',
   'eo': 'Seulo',
   'eu': 'Seul',
   'cv': 'Сеул',
   'ro': 'Seul',
   'de': 'Seoul',
   'en': 'Seoul',
   'bg': 'Сеул',
   'kk': 'Сеул',
   'sl': 'Seul',
   'ku': 'Sêûl',
   'fr': 'Séoul',
   'la': 'Seulum',
   'lt': 'Seulas',
   'he': 'סיאול',
   'es': 'Seúl',
   'uk': 'Сеул',
   'bn': 'সিওল',
   'zh': '首尔市 / 首爾',
   'vo': 'Söul',
   'gl': 'Seúl',
   'ca': 'Seül',
   'sr': 'Сеул',
   'mn': 'Сөүл',
   'ru': 'Сеул',
   'el': 'Σεούλ'},
  'lat': 37.5666791,
  'lon': 126.9782914,
  'country': 'KR'}]

### 1-4) 위도, 경도, 도시명 가져오기

In [233]:
e_name = geo_data[0]['name']
e_name

'Seoul'

In [234]:
country = geo_data[0]['country']
country

'KR'

In [235]:
lat = geo_data[0]['lat']
lat

37.5666791

In [236]:
lon = geo_data[0]['lon']
lon

126.9782914

## 2) 날씨 정보 가져오기

### 2-1) url 세팅

In [237]:
weather_url = f'https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude=hourly,daily&appid={geo_key}'
weather_url

'https://api.openweathermap.org/data/3.0/onecall?lat=37.5666791&lon=126.9782914&exclude=hourly,daily&appid=c4cb929c6768bf7eba452db51e1e3182'

In [238]:
weather_response = requests.get(weather_url)
weather_response

### 2-2) 날씨 데이터 가져오기

In [239]:
weather_data = weather_response.json()

In [240]:
weather_data

{'lat': 37.5667,
 'lon': 126.9783,
 'timezone': 'Asia/Seoul',
 'timezone_offset': 32400,
 'current': {'dt': 1717752172,
  'sunrise': 1717704658,
  'sunset': 1717757473,
  'temp': 297.8,
  'feels_like': 297.81,
  'pressure': 1011,
  'humidity': 57,
  'dew_point': 288.72,
  'uvi': 0.64,
  'clouds': 0,
  'visibility': 10000,
  'wind_speed': 4.63,
  'wind_deg': 280,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}]},
 'minutely': [{'dt': 1717752180, 'precipitation': 0},
  {'dt': 1717752240, 'precipitation': 0},
  {'dt': 1717752300, 'precipitation': 0},
  {'dt': 1717752360, 'precipitation': 0},
  {'dt': 1717752420, 'precipitation': 0},
  {'dt': 1717752480, 'precipitation': 0},
  {'dt': 1717752540, 'precipitation': 0},
  {'dt': 1717752600, 'precipitation': 0},
  {'dt': 1717752660, 'precipitation': 0},
  {'dt': 1717752720, 'precipitation': 0},
  {'dt': 1717752780, 'precipitation': 0},
  {'dt': 1717752840, 'precipitation': 0},
  {'dt': 1717752900, 'precipitation': 0},
  {'dt': 1717752960, 'precipitation': 0},
  {'dt': 1717753020, 'precipitation': 0},
  {'dt': 1717753080, 'precipitation': 0},
  {'dt': 1717753140, 'precipitation': 0},
  {'dt': 1717753200, 'precipitation': 0},
  {'dt': 1717753260, 'precipitation': 0},
  {'dt': 1717753320, 'precipitation': 0},
  {'dt': 1717753380, 'precipitation': 0},
  {'dt': 1717753440, 'precipitation': 0},
  {'dt': 1717753500, 'precipitation': 0},
  {'dt': 1717753560, 'precipitation': 0},
  {'dt': 1717753620, 'precipitation': 0},
  {'dt': 1717753680, 'precipitation': 0},
  {'dt': 1717753740, 'precipitation': 0},
  {'dt': 1717753800, 'precipitation': 0},
  {'dt': 1717753860, 'precipitation': 0},
  {'dt': 1717753920, 'precipitation': 0},
  {'dt': 1717753980, 'precipitation': 0},
  {'dt': 1717754040, 'precipitation': 0},
  {'dt': 1717754100, 'precipitation': 0},
  {'dt': 1717754160, 'precipitation': 0},
  {'dt': 1717754220, 'precipitation': 0},
  {'dt': 1717754280, 'precipitation': 0},
  {'dt': 1717754340, 'precipitation': 0},
  {'dt': 1717754400, 'precipitation': 0},
  {'dt': 1717754460, 'precipitation': 0},
  {'dt': 1717754520, 'precipitation': 0},
  {'dt': 1717754580, 'precipitation': 0},
  {'dt': 1717754640, 'precipitation': 0},
  {'dt': 1717754700, 'precipitation': 0},
  {'dt': 1717754760, 'precipitation': 0},
  {'dt': 1717754820, 'precipitation': 0},
  {'dt': 1717754880, 'precipitation': 0},
  {'dt': 1717754940, 'precipitation': 0},
  {'dt': 1717755000, 'precipitation': 0},
  {'dt': 1717755060, 'precipitation': 0},
  {'dt': 1717755120, 'precipitation': 0},
  {'dt': 1717755180, 'precipitation': 0},
  {'dt': 1717755240, 'precipitation': 0},
  {'dt': 1717755300, 'precipitation': 0},
  {'dt': 1717755360, 'precipitation': 0},
  {'dt': 1717755420, 'precipitation': 0},
  {'dt': 1717755480, 'precipitation': 0},
  {'dt': 1717755540, 'precipitation': 0},
  {'dt': 1717755600, 'precipitation': 0},
  {'dt': 1717755660, 'precipitation': 0},
  {'dt': 1717755720, 'precipitation': 0}]}

In [241]:
type(weather_data)

dict

### 2-3) 최근 날씨, 강수량 정보 분리

In [242]:
# current 데이터 변환
current_data = weather_data['current']
weather_info = current_data.pop('weather')[0]

current_data.update(weather_info)
current_df = pd.DataFrame([current_data])

# minutely 데이터 변환
minutely_data = weather_data['minutely']
minutely_df = pd.DataFrame(minutely_data)

print("Current DataFrame:")
print(current_df)
print("\nMinutely DataFrame:")
print(minutely_df)

Current DataFrame:
           dt     sunrise      sunset   temp  feels_like  pressure  humidity  \
0  1717752172  1717704658  1717757473  297.8      297.81      1011        57

   dew_point   uvi  clouds  visibility  wind_speed  wind_deg   id   main  \
0     288.72  0.64       0       10000        4.63       280  800  Clear

  description icon
0   clear sky  01d

Minutely DataFrame:
            dt  precipitation
0   1717752180              0
1   1717752240              0
2   1717752300              0
3   1717752360              0
4   1717752420              0
5   1717752480              0
6   1717752540              0
7   1717752600              0
8   1717752660              0
9   1717752720              0
10  1717752780              0
11  1717752840              0
12  1717752900              0
13  1717752960              0
14  1717753020              0
15  1717753080              0
16  1717753140              0
17  1717753200              0
18  1717753260              0
19  1717753320              0
20  1717753380              0
21  1717753440              0
22  1717753500              0
23  1717753560              0
24  1717753620              0
25  1717753680              0
26  1717753740              0
27  1717753800              0
28  1717753860              0
29  1717753920              0
30  1717753980              0
31  1717754040              0
32  1717754100              0
33  1717754160              0
34  1717754220              0
35  1717754280              0
36  1717754340              0
37  1717754400              0
38  1717754460              0
39  1717754520              0
40  1717754580              0
41  1717754640              0
42  1717754700              0
43  1717754760              0
44  1717754820              0
45  1717754880              0
46  1717754940              0
47  1717755000              0
48  1717755060              0
49  1717755120              0
50  1717755180              0
51  1717755240              0
52  1717755300              0
53  1717755360              0
54  1717755420              0
55  1717755480              0
56  1717755540              0
57  1717755600              0
58  1717755660              0
59  1717755720              0

In [243]:
current_df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,id,main,description,icon
0,1717752172,1717704658,1717757473,297.8,297.81,1011,57,288.72,0.64,0,10000,4.63,280,800,Clear,clear sky,01d

In [244]:
minutely_df

            dt  precipitation
0   1717752180              0
1   1717752240              0
2   1717752300              0
3   1717752360              0
4   1717752420              0
5   1717752480              0
6   1717752540              0
7   1717752600              0
8   1717752660              0
9   1717752720              0
10  1717752780              0
11  1717752840              0
12  1717752900              0
13  1717752960              0
14  1717753020              0
15  1717753080              0
16  1717753140              0
17  1717753200              0
18  1717753260              0
19  1717753320              0
20  1717753380              0
21  1717753440              0
22  1717753500              0
23  1717753560              0
24  1717753620              0
25  1717753680              0
26  1717753740              0
27  1717753800              0
28  1717753860              0
29  1717753920              0
30  1717753980              0
31  1717754040              0
32  1717754100              0
33  1717754160              0
34  1717754220              0
35  1717754280              0
36  1717754340              0
37  1717754400              0
38  1717754460              0
39  1717754520              0
40  1717754580              0
41  1717754640              0
42  1717754700              0
43  1717754760              0
44  1717754820              0
45  1717754880              0
46  1717754940              0
47  1717755000              0
48  1717755060              0
49  1717755120              0
50  1717755180              0
51  1717755240              0
52  1717755300              0
53  1717755360              0
54  1717755420              0
55  1717755480              0
56  1717755540              0
57  1717755600              0
58  1717755660              0
59  1717755720              0

### 2-4) 날짜 및 시간 세팅

In [245]:
timezone_offset = weather_data['timezone_offset']
timezone_delta = datetime.timedelta(seconds=timezone_offset)

In [246]:
timezone_delta = datetime.timedelta(seconds=timezone_offset)
timezone_delta

datetime.timedelta(seconds=32400)

In [247]:
for col in ['dt', 'sunrise', 'sunset']:
    current_df[col] = current_df[col].apply(lambda x: datetime.datetime.utcfromtimestamp(x) + timezone_delta)
    current_df[col] = current_df[col].dt.strftime('%Y-%m-%d %H:%M:%S')
current_df

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,id,main,description,icon
0,2024-06-07 18:22:52,2024-06-07 05:10:58,2024-06-07 19:51:13,297.8,297.81,1011,57,288.72,0.64,0,10000,4.63,280,800,Clear,clear sky,01d

In [248]:
minutely_df['dt'] = minutely_df['dt'].apply(lambda x: datetime.datetime.utcfromtimestamp(x) + timezone_delta)
minutely_df['dt'] = minutely_df['dt'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [249]:
minutely_df.sort_values('dt', ascending=False)

                     dt  precipitation
59  2024-06-07 19:22:00              0
58  2024-06-07 19:21:00              0
57  2024-06-07 19:20:00              0
56  2024-06-07 19:19:00              0
55  2024-06-07 19:18:00              0
54  2024-06-07 19:17:00              0
53  2024-06-07 19:16:00              0
52  2024-06-07 19:15:00              0
51  2024-06-07 19:14:00              0
50  2024-06-07 19:13:00              0
49  2024-06-07 19:12:00              0
48  2024-06-07 19:11:00              0
47  2024-06-07 19:10:00              0
46  2024-06-07 19:09:00              0
45  2024-06-07 19:08:00              0
44  2024-06-07 19:07:00              0
43  2024-06-07 19:06:00              0
42  2024-06-07 19:05:00              0
41  2024-06-07 19:04:00              0
40  2024-06-07 19:03:00              0
39  2024-06-07 19:02:00              0
38  2024-06-07 19:01:00              0
37  2024-06-07 19:00:00              0
36  2024-06-07 18:59:00              0
35  2024-06-07 18:58:00              0
34  2024-06-07 18:57:00              0
33  2024-06-07 18:56:00              0
32  2024-06-07 18:55:00              0
31  2024-06-07 18:54:00              0
30  2024-06-07 18:53:00              0
29  2024-06-07 18:52:00              0
28  2024-06-07 18:51:00              0
27  2024-06-07 18:50:00              0
26  2024-06-07 18:49:00              0
25  2024-06-07 18:48:00              0
24  2024-06-07 18:47:00              0
23  2024-06-07 18:46:00              0
22  2024-06-07 18:45:00              0
21  2024-06-07 18:44:00              0
20  2024-06-07 18:43:00              0
19  2024-06-07 18:42:00              0
18  2024-06-07 18:41:00              0
17  2024-06-07 18:40:00              0
16  2024-06-07 18:39:00              0
15  2024-06-07 18:38:00              0
14  2024-06-07 18:37:00              0
13  2024-06-07 18:36:00              0
12  2024-06-07 18:35:00              0
11  2024-06-07 18:34:00              0
10  2024-06-07 18:33:00              0
9   2024-06-07 18:32:00              0
8   2024-06-07 18:31:00              0
7   2024-06-07 18:30:00              0
6   2024-06-07 18:29:00              0
5   2024-06-07 18:28:00              0
4   2024-06-07 18:27:00              0
3   2024-06-07 18:26:00              0
2   2024-06-07 18:25:00              0
1   2024-06-07 18:24:00              0
0   2024-06-07 18:23:00              0

### 2-5) 한글로 변환

In [250]:
new_cols = {
    'dt': '데이터시간',
    'sunrise': '일출시간', 
    'sunset': '일몰시간',
    'temp': '온도',
    'feels_like': '체감온도',
    'pressure': '기압',
    'humidity': '습도',
    'dew_point': '이슬점',
    'uvi': '자외선지수',
    'clouds': '구름양',
    'visibility': '가시거리',
    'wind_speed': '풍속',
    'wind_deg': '풍향',
    'wind_gust' : '돌풍속',
    'id': '날씨ID',
    'main': '날씨상태',
    'description': '날씨설명',
    'icon': '날씨아이콘'
}

In [251]:
current_df = current_df.rename(columns=new_cols)
current_df

,데이터시간,일출시간,일몰시간,온도,체감온도,기압,습도,이슬점,자외선지수,구름양,가시거리,풍속,풍향,날씨ID,날씨상태,날씨설명,날씨아이콘
0,2024-06-07 18:22:52,2024-06-07 05:10:58,2024-06-07 19:51:13,297.8,297.81,1011,57,288.72,0.64,0,10000,4.63,280,800,Clear,clear sky,01d

### 2-6) 섭씨로 온도 변환

In [252]:
current_df['온도'] = current_df['온도'] - 273.15
current_df

,데이터시간,일출시간,일몰시간,온도,체감온도,기압,습도,이슬점,자외선지수,구름양,가시거리,풍속,풍향,날씨ID,날씨상태,날씨설명,날씨아이콘
0,2024-06-07 18:22:52,2024-06-07 05:10:58,2024-06-07 19:51:13,24.65,297.81,1011,57,288.72,0.64,0,10000,4.63,280,800,Clear,clear sky,01d

In [253]:
current_df['체감온도'] = current_df['체감온도'] - 273.15

In [254]:
current_df['이슬점'] = current_df['이슬점'] - 273.15

In [255]:
current_df

,데이터시간,일출시간,일몰시간,온도,체감온도,기압,습도,이슬점,자외선지수,구름양,가시거리,풍속,풍향,날씨ID,날씨상태,날씨설명,날씨아이콘
0,2024-06-07 18:22:52,2024-06-07 05:10:58,2024-06-07 19:51:13,24.65,24.66,1011,57,15.57,0.64,0,10000,4.63,280,800,Clear,clear sky,01d

### 2-7) 위도, 경도 한글화

In [256]:
location_df = pd.DataFrame({
    '위도': [weather_data['lat']],
    '경도': [weather_data['lon']],
    '시간대': [weather_data['timezone']],
    '시간대 오프셋': [weather_data['timezone_offset']]
})
location_df

        위도        경도         시간대  시간대 오프셋
0  37.5667  126.9783  Asia/Seoul    32400

# 3. 메시지 보내기

## 1) 나에게 보내기

### 1-1) 토큰값 가져오기

In [240]:
import requests

url = 'https://kauth.kakao.com/oauth/token'
rest_api_key = '0eb2547bf27c56bba299c2cacdc01260'
redirect_uri = 'https://example.com/oauth'
authorize_code = 'EGs2sAolzrKHeuzVMWYejcyAnkDQnF5xfIbGdyyHiH05Tnuz_V6g7QAAAAQKPXUZAAABj-Jj75BtZc76WqiBKA'

data = {
    'grant_type':'authorization_code',
    'client_id':rest_api_key,
    'redirect_uri':redirect_uri,
    'code': authorize_code,
    }

response = requests.post(url, data=data)
tokens = response.json()
print(tokens)

# json 저장
import json
#1.
with open(r"./kakao_code.json","w") as fp:
    json.dump(tokens, fp)

{'access_token': 'iXlvATzNCkMk_LeQ8eJ28n012IepXE4JAAAAAQo9dNsAAAGP4mSSZyn2EFsnJsRZ', 'token_type': 'bearer', 'refresh_token': '1_AYeOqg3o-QYAsyd5mcRInNW0ETwqLKAAAAAgo9dNsAAAGP4mSSZCn2EFsnJsRZ', 'expires_in': 21599, 'scope': 'profile_image talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

### 1-2) 나에게 메세지 보내기

In [241]:
import requests
import json

#1.
with open(r"./kakao_code.json","r") as fp:
    tokens = json.load(fp)


url="https://kapi.kakao.com/v2/api/talk/memo/default/send"

# kapi.kakao.com/v2/api/talk/memo/default/send 

headers={
    "Authorization" : "Bearer " + tokens["access_token"]
}

data={
    "template_object": json.dumps({
        "object_type":"text",
        "text":"Hello, world!",
        "link":{
            "web_url":"www.naver.com"
        }
    })
}

response = requests.post(url, headers=headers, data=data)
response.status_code
print(response.status_code)
if response.json().get('result_code') == 0:
	print('메시지를 성공적으로 보냈습니다.')
else:
	print('메시지를 성공적으로 보내지 못했습니다. 오류메시지 : ' + str(response.json()))

200
메시지를 성공적으로 보냈습니다.

## 2. 친구에게 메세지 보내기

### 2-1) 엑세스 토큰 가져오기

In [257]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

# Chrome 드라이버 경로 설정
chrome_driver_path = '/path/to/chromedriver'  # 본인이 다운로드한 Chrome 드라이버의 경로로 변경하세요

# 웹 드라이버 실행
driver = webdriver.Chrome(service= Service(ChromeDriverManager().install()))
url = 'https://kauth.kakao.com/oauth/authorize?client_id=0eb2547bf27c56bba299c2cacdc01260&redirect_uri=https://message_kakaotalk.com/oauth&response_type=code&scope=talk_message, friends'
driver.get(url)

# 로그인 정보
kakao_id = 'zczc729@naver.com'
kakao_pw = 'alstjr123!'

# 아이디 입력
driver.find_element(By.ID, 'loginId--1').send_keys(kakao_id)
time.sleep(1)

# 비밀번호 입력
driver.find_element(By.ID, 'password--2').send_keys(kakao_pw)
time.sleep(1)

# 로그인 버튼 클릭
driver.find_element(By.CSS_SELECTOR, '.confirm_btn > .btn_g.highlight').click()

# 로그인 후 대기 시간 (로딩을 기다리기 위함)
time.sleep(5)

# 로그인 후의 현재 URL 가져오기
current_url = driver.current_url
# print("로그인 후 URL:", current_url)

# 웹 드라이버 종료
driver.quit()

In [258]:
auth_code = current_url[41:]

In [259]:
import requests

url = 'https://kauth.kakao.com/oauth/token'
rest_api_key = '0eb2547bf27c56bba299c2cacdc01260'
redirect_uri = 'https://message_kakaotalk.com/oauth'
# authorize_code = 'K-6UzDwSROUgPMBdzj4Jgvx_1UBNuNF_CTRaulVc_AGXYxP39a2-wwAAAAQKPXNNAAABj_CZ7L2GtS2__sNdBQ'
authorize_code = auth_code

data = {
    'grant_type':'authorization_code',
    'client_id':rest_api_key,
    'redirect_uri':redirect_uri,
    'code': authorize_code,
    }

response = requests.post(url, data=data)
tokens = response.json()
print(tokens)

# json 저장
import json
with open(r"./kakao_code3.json","w") as fp:
    json.dump(tokens, fp)

{'access_token': 'dLZsulgh1aA07WSxGHPMK0Ny7Oy--4EzAAAAAQo9cpcAAAGP8gLCPCn2EFsnJsRZ', 'token_type': 'bearer', 'refresh_token': 'o24BOpuC7sKQ0BtjM5AmpfXOt8ViqLAXAAAAAgo9cpcAAAGP8gLCOSn2EFsnJsRZ', 'expires_in': 21599, 'scope': 'profile_image talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

### 2-2) 친구 목록 가져오기

In [278]:
import requests
import json

#1.
# with open(r"C:\Users\user\Desktop\PythonWorkspace\kakao_test\kakao_code.json","r") as fp:
#     tokens = json.load(fp)
#2.
with open("./kakao_code3.json","r") as fp:
    tokens = json.load(fp)

# print(tokens)
print(tokens["access_token"])

friend_url = "https://kapi.kakao.com/v1/api/talk/friends"

# GET /v1/api/talk/friends HTTP/1.1
# Host: kapi.kakao.com
# Authorization: Bearer {ACCESS_TOKEN}

headers={"Authorization" : "Bearer " + tokens["access_token"]}

test = requests.get(friend_url, headers=headers)
# print(test)
# print(test.content)

result = json.loads(requests.get(friend_url, headers=headers).text)


# print(type(result))
# print("=============================================")
print(result)
print("=============================================")
friends_list = result.get("elements")
print("---------------여기-------------")
# print(friends_list)
# print(type(friends_list))
print("=============================================")
# print(friends_list[0].get("uuid"))
# friend_id = friends_list[0].get("uuid")
# print(friend_id)
friend_id_ls = []
for i in range(len(friends_list)):
#     print(friends_list[i])
    friend_id_ls.append(friends_list[i].get("uuid"))
    
print(friend_id_ls)

dLZsulgh1aA07WSxGHPMK0Ny7Oy--4EzAAAAAQo9cpcAAAGP8gLCPCn2EFsnJsRZ
{'elements': [{'profile_nickname': '신상길 (KGIT뱅크)', 'profile_thumbnail_image': 'https://p.kakaocdn.net/th/talkp/woJzwcIzFn/t0OWyRwkTuXTM2C8ZiSkD1/qms3n6_110x110_c.jpg', 'allowed_msg': True, 'id': 3512886870, 'uuid': 'RnVFcEd1Rndbal1rWm1faER1RX1Ke0p_Fw', 'favorite': False}, {'profile_nickname': '이은총 (KGIT뱅크)', 'profile_thumbnail_image': 'https://p.kakaocdn.net/th/talkp/wohjdLVwrj/Vh6XjHKQgWf1ypakc8k4yk/d461us_110x110_c.jpg', 'allowed_msg': True, 'id': 3515776551, 'uuid': 'RnFAdUVxR3NDb11vX29YaV9rU39OfkZxQHFENg', 'favorite': False}], 'total_count': 2, 'after_url': None, 'favorite_count': 0}
=============================================
---------------여기-------------
=============================================
['RnVFcEd1Rndbal1rWm1faER1RX1Ke0p_Fw', 'RnFAdUVxR3NDb11vX29YaV9rU39OfkZxQHFENg']

### 2-3) 업스테이지 이용해 날씨 정보 예보로 바꾸기

In [279]:
from openai import OpenAI # openai==1.2.0

client = OpenAI(
  api_key="up_J7KxNj62xEYxApyPzdHsDcpUCxfNA",
  base_url="https://api.upstage.ai/v1/solar"
)

stream = client.chat.completions.create(
  model="solar-1-mini-chat",
  messages=[
    {
      "role": "system",
      "content": "You are a helpful assistant."
    },
    {
      "role": "user",
     "content": f"{current_df}로 날씨 예보 처럼 말해줘. 안녕하세요 좋은 아침 입니다 로 시작할거고 현재 기온, 체감 온도, 습도, 자외선 지수, 날씨 상태, 날씨 설명 까지만 말해줘."
    }
  ],
  stream=True,
)

test = ''
for chunk in stream:
  if chunk.choices[0].delta.content is not None:
    print(chunk.choices[0].delta.content, end="")
    test += chunk.choices[0].delta.content

# Use with stream=False
# print(stream.choices[0].message.content

안녕하세요 좋은 아침입니다. 현재 기온은 24.65도이며, 체감 온도는 24.66도, 습도는 57%입니다. 자외선 지수는 0.64로, 현재 날씨 상태는 맑으며, 날씨 설명은 맑은 하늘입니다.

### 2-4) 날씨 정보를 친구에게 전송하기

In [280]:
import requests
import json

with open(r"./kakao_code3.json","r") as fp:
    tokens = json.load(fp)
# print(tokens)
# print(tokens["access_token"])

# friend_url = "https://kapi.kakao.com/v1/api/talk/friends"

# # GET /v1/api/talk/friends HTTP/1.1
# # Host: kapi.kakao.com
# # Authorization: Bearer {ACCESS_TOKEN}

# headers={"Authorization" : "Bearer " + tokens["access_token"]}

# result = json.loads(requests.get(friend_url, headers=headers).text)

# print(type(result))
# print("=============================================")
# print(result)
# print("=============================================")
# friends_list = result.get("elements")
# print(friends_list)
# # print(type(friends_list))
# print("=============================================")
# print(friends_list[0].get("uuid"))
# friend_id = friends_list[0].get("uuid")
# print(friend_id)

for i in range(len(friend_id_ls)):

    send_url= "https://kapi.kakao.com/v1/api/talk/friends/message/default/send"

    data={
        'receiver_uuids': '["{}"]'.format(friend_id_ls[i]),
        "template_object": json.dumps({
            "object_type":"text",
            "text":f"{test}",
            "link":{},})
    }

    response = requests.post(send_url, headers=headers, data=data)
    response.status_code